.dashboard-navbar-container{
    background-color: rgba(201, 22, 52, 0.836);
}


.dashboard-container{
    padding: 20px 30px;
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.dashboard-menu{
    width: 250px;
    background-color:  #f8fafd;
    height: 100vh;
    padding: 50px 30px!important;
    transition: all 0.7s ;
 
}
.link{
    text-decoration: none;
}
.dashboard-menu ul li{
   list-style: none;
   padding: 20px;
}
.middle-container{
    padding: 40px;
    width: 90%;
    height: 100%;
     background-color: rgb(240, 240, 240);
     margin: 0 auto;
     
}